/* ==================== Text adjustment ==================== */
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 18px;}
p, .nav li a{font-size: 14px;}
p,h1,h2,h3,h4,h5 {font-weight: normal;}
.header-main h3, .contact-title h3, .contact-title h4, #address .address-icon-text h4, #address h4, #address h5, .package-desc-inner p, footer p {font-family: 'Nunito-Regular'}
 {font-family: 'Nunito-Light'}
.header-main h1 {font-family: 'Nunito-Bold'}
.btn, footer h4, .nav li a {font-family: 'Nunito-SemiBold'}
.package-inner h1 {font-family: 'Nunito-Italic'}

section, header,.package-one, footer{
  overflow: auto;
}
body {
  max-width: 100%;
}
.custom-col-pad {
  padding: 0 !important;
  margin: 0 !important;
}

button {
	border: none;
	cursor: pointer;
}

#custom-button .btn {
  padding: 10px 25px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0px;
  border: none !important;
  transition: all 0.3s ease;
  color: #fff;
}

#custom-button .btn-primary {
  background-color: #47cf86;
}

#custom-button .btn-primary:hover {
  background-color: #2ecc71;
}

.custom-option-button .btn {
  width: 100%;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #47CF86;
}

::selection {
    color: #fff;
    background: #47CF86;
}


/* ==================== fonts ==================== */
@font-face{font-family:'Nunito-Regular'; src: url('../fonts/Nunito-Regular.ttf') format('TrueType');}
@font-face{font-family:'Nunito-Light'; src: url('../fonts/Nunito-Light.ttf') format('TrueType');}
@font-face{font-family:'Nunito-Italic'; src: url('../fonts/Nunito-Italic.ttf') format('TrueType');}
@font-face{font-family:'Nunito-Bold'; src: url('../fonts/Nunito-Bold.ttf') format('TrueType');}
@font-face{font-family:'Nunito-SemiBold'; src: url('../fonts/Nunito-SemiBold.ttf') format('TrueType');}
@font-face{font-family:'Nunito-SemiBoldItalic'; src: url('../fonts/Nunito-SemiBoldItalic.ttf') format('TrueType');}
@font-face{font-family:'Roboto-Regular'; src: url('../fonts/Roboto-Regular.ttf') format('TrueType');}
@font-face{font-family:'Roboto-Medium'; src: url('../fonts/Roboto-Medium.ttf') format('TrueType');}
@font-face{font-family:'Roboto-Bold'; src: url('../fonts/Roboto-Bold.ttf') format('TrueType')}
.clear{clear: both;}
/* ============ nav ============ */
.navbar {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

.navbar-inverse {
  border: none;
  background-color: #0A1215;
}

.navbar-inverse .navbar-nav > li > a {
  text-transform: uppercase;
  color: #fff;
}
.navbar {
  min-height: 55px;
}
.nav li a {
  transition: all 0.1s ease;
}
.nav li a:hover {
  border-bottom: 4px solid #2EB879;
}

.navbar-active {
  border-bottom: 4px solid #2EB879;
}

@media (min-width: 768px){
  .navbar-nav>li>a {
      padding-top: 17px;
      padding-bottom: 15px;
  }
}

/* ==================== header ==================== */
.header-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  max-width: 100%;
}

.header-wrapper {
  padding: 200px 0 200px 0;
  text-align: center;
}

.header-wrapper h3, .header-wrapper h1{color: #fff;}
.header-wrapper h3 {
  margin: 0 !important;
  padding: 0 !important;
  letter-spacing: 5px;
}

.header-wrapper h1 {padding: 10px; margin: 0 !important; text-transform: uppercase;}
.main-header p {padding: 500px 0 500px 0;}
.about-main{padding: 30px 0px;}
.about-title p{font-size: 28px;}
.about-title span{font-size: 22px;}
.about-inner-second{text-align: center;}
.anything{padding: 50px 0px;}
.anything-inner-text h3{letter-spacing: 5px;}
.anything-inner-bot{text-align: center;}
.anything-inner-bot img {width: 100%;}
.anything-inner-btn{padding: 20px 0px;}
.promo-inner{text-align: center;padding: 50px 0px;}
.slash {color: #2eb979;letter-spacing: 20px;margin: 0px;}
.cloud {
  font-size: 34px;
  padding: 5px 0px;
}
.about-inner-second h3{
  margin: 0;
}
.about-main-weather i{
  padding-left: 10px;
}
.about-main-weather h5{
  padding-top: 16px;
}
/* farhan's package */
.package-thumbnail {
  position: relative;
  max-width: 100%;
  height: 100%;
  transition: all .3s ease-in-out
}

.package-thumbnail a {
  text-decoration: none;
}

.package-bg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  max-width: 100%;
}

.p-bg-1 {background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/4.jpeg)}
.p-bg-2 {background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/5.jpeg)}
.p-bg-3 {background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/3.jpeg)}

.package-inner {
  padding: 150px 0 150px 0;
  transition: all .5s ease-in-out
}

.package-inner h1 {
  color: #fff;
}

.package-desc-inner {
  text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s ease;
    width: 80%;
}

.package-desc-inner #custom-button {
  margin-top: 20px;
}

.package-desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.package-thumbnail:hover .package-desc {
  visibility: visible;
  opacity: 1;
}

.package-thumbnail:hover .package-inner {
  visibility: hidden;
  opacity: 0;
}

.package-desc-inner p {
  font-size: 18px;
}






.video-inner {
  padding: 60px 0 60px 0;
}

.video-text-inner {
  padding: 130px 0 150px 60px;
  text-align: center;
}

.video-text-inner h4 {
  padding-bottom: 30px;
}


/* ==================== gmaps ==================== */
.maps-inner-text {margin: 40px 0px 40px 85px}
.maps-inner-text h1{;color: #fff;}
.maps{background-color: #122429;}
.first-caption p, .second-caption p, .third-caption p {
  font-size: 36px;
  color: #fff;
  padding-right: 10px;
}

iframe {
  padding: 0 !important;
  margin: 0 !important;
}

.gambar img {
  width: 100%;
}

/* ==================== footer ==================== */
footer{background-color: #182129; color: #fff}
.inner-for-img {
  padding: 64px 0 0 0;

}
.inner-for-img img{width: 280px;}
.custom-col-padrigh{padding: 0}

.footer-list-inner {
  padding: 60px 0 50px 0;
}

.footer-list-inner p, .footer-list-inner-first p, .footer-socials a {
  color:#999;
  transition: all 0.3s ease;
}

.footer-socials a:hover {
  color: #eee;
}

.footer-list-inner h4, .footer-list-inner-first h4 {
  padding-bottom: 10px;
  margin: 0;
}

.footer-list-inner-first {
  padding: 60px 0 50px 40px;
}

.footer-social {
	margin: 20px 0 20px 0;
}

.footer-list-inner a i {
  font-size: 24px;
}

.footer-list-inner a {
	padding: 20px 20px 0 0;
}

.footer-socials {
  margin-top: 10px;
}

footer#second-footer {
  background-color: #131A20;
}

footer#second-footer .second-footer-inner {
  padding: 15px 0 15px 0;
}

footer#second-footer a{text-decoration: none;}
footer#second-footer a p:hover {color: #fff}

footer#second-footer a p {
  margin: 0;
  font-family: 'Nunito-Regular';
  color: #777;
  transition: all 0.3s ease;
}




/* ==================== address ==================== */
.bg-address {
	background: rgba(71,207,134, 0.8);
}

#map {
	height: 100%;
	width: 100%;
	position:absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
.mapbg {
	position: relative;
	width: 100%;
}

.mapbg .container {
	position: relative;
  	z-index: 1;
}

#address {
  font-family: 'futura-md';
	position: relative;
	margin-top:50px;
	min-height:340px;
	height: 100%;
  color: #fff;
}

#address .custom-col-pad-map {
  padding: 0;
}

#address .address {
    padding: 40px 0px 30px 60px;
}

#address .address-icon {
  width: 45px;
  height: 45px;
  background-color: rgba(255,255,255, 0.4);
  border-radius: 100%;
  text-align: center;
  float: left;
  margin-bottom: 10px;
}

#address .address-icon-text h4 {
  padding-left: 20px !important;
}

.address-icon i {
  margin-top: 15px;
  color: #fff
}

#address .address h4, #address .address p {
  color: #fff;
}

/* ==================== contact ==================== */
.bg-contact {
  background-color: #0a1215;
  min-height: 500px;
}

.bg-right-contact{
  min-height: 500px;
  background-image: url(../img/4.jpeg);
  background-position: center;
  background-size: 1000px 500px;
  background-repeat: no-repeat;
}

#contact .contact-title {
  text-align: center;
  padding-bottom: 20px;
}
#contact .contact-title h3, #contact .contact-title h4 {
  color: #fff;
}

#contact .contact-form {
  padding: 30px 80px 40px 80px;;
}

#contact .input-group-addon {
  border: none;
  background-color: #fff;
  border-radius: 0px;
  background-color: #474d50;
}

#contact .input-group-addon i {
  color: #a3a6a8;
}

#contact .form-control {
  border: none;
  border-radius: 0px;
  background-color: #474d50;
  padding: 20px;
}

#contact .form-horizontal {
  padding-bottom: 15px;
}

#contact textarea {
  margin-top: 30px;
  border: none;
  background-color: #0a1215;
  border-bottom: 2px solid #474d50;
  width: 100%;
  resize: none;
}

.contact-button {
  text-align: center;
  padding: 40px 0 30px 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #777;
  font-family: 'Nunito-Regular';
}
::-moz-placeholder { /* Firefox 19+ */
  color: #777;
  font-family: 'Nunito-Regular';
  opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #777;
  font-family: 'Nunito-Regular';
}
:-moz-placeholder { /* Firefox 18- */
  color: #777;
  font-family: 'Nunito-Regular';
}

#contact input, #contact textarea {
  color: #fff;
  font-family: 'Nunito-Regular';
}

/* -- pricelist -- */
.carousel .background {
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}

@media (max-width:991px) {
  .carousel .background {
    background-size: cover; /* To make the background image looks good */
  }
}

.carousel .background.a {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/3.jpeg");
  height: 100%;
}

.carousel .background.b {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/4.jpeg");
  height: 100%;
}

.carousel .background.c {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/6.jpeg");
  height: 100%;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/* CSS Hack to trigger GPU for smooth transition */
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* CSS Hack to trigger GPU for smooth transition */

.covertext {
  position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
  top: 200px; /* The distance between the div with the top of document */
  left: 0px; /* Make the div full width */
  right: 0px; /* Make the div full width */
}

.title {
  font-family: 'Roboto-Medium';
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

/* -- pricelist option -- */
body.custom-body {
  background-color: #f5f5f5;
}

.pricelist-option {
  padding: 40px 0 40px 0;
  max-height: 100%;
}

.pricelist-row {
  padding: 0;
  margin-bottom: 40px;
}

.pricelist-bg {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 8px 45px 0px rgba(0, 0, 0, 0.03);
}

.pricelist-option-inner {
  padding: 20px 10px 20px 10px;
}

.pricelist-option h4 {
  padding: 0;
  margin: 0;
}

#datepicker input.form-control {
  background: none;
  border-radius: 0px;
  border-right: none;
  border-color: #bfbfbf;
  border-left: none;
  color: #333333;
}

#datepicker span.option-input-right, #pricelist-form span.input-group-addon {
  border-left: none;
  background: none;
  border-color: #bfbfbf;
  border-radius: 0px;
  color: #333333;
}

#datepicker span.option-input-left {
  border-left: 1px solid #bfbfbf;
  background: none;
  border-radius: 0px;
  color: #bfbfbf;
}

.option-inner .btn {
  border-radius: 0px;
  border: 1px solid #bfbfbf;
}

.option-inner {
  padding: 20px 10px 20px 10px;
}

.option-inner-button {
  padding: 35px 10px 35px 10px;
}

.option-inner h4 {
  padding-bottom: 15px;
  margin: 0;
}

/* -- pricelist items -- */
.pricelist-img {
  padding: 0;
  margin: 0;
}

.pricelist-img img {
  max-width: 100%;
  max-height: 100%;
}

.pricelist-desc p {
  padding: 20px 60px 20px 0;
}

.pricelist-button {
  padding-bottom: 10px;
  float: right;
}

.row {
  padding: 0;
  margin: 0;
}

/* ==================== gallery ====================*/
#search-button .form-control, #search-button button.btn {border-radius: 0px;}

#search-button button.btn {border-left: none;}

.gallery-buttons button {
  margin: 0 10px 10px 0;
  border-radius: 0px;
  border: none;
}

.gallery-buttons button:hover {
  border: none;
}

.gallery-photos {
  margin: 0 0 50px 0;
}

.gallery-search{
  margin: 20px 0px 35px 0px;
}

.m-tags{
  margin-left: 20px;
}

.tbk-btn{
  margin-top: 10px;
}
.img-k-1{
  height: 360px;
  width:300px;
}
.img-t-1{
  height: 174px;
  margin-left: 5px;
}
.img-tt2{
  margin-top: 12px;
}
.img-tt{
  height:250px;
  margin-top: 20px;
}
.xs-a{
  width: 65%;
  float: left;
}
.xs-b{
  width : 35%;
  float: left;
}
.xs-b .img-ka{
  float: left;
  height: 630px;
}
.margg{
  padding-bottom: 50px;
}


























@media (max-width: 768px){
  .maps-inner-text p{
    margin: 20px 0 20px 0;
  }
  .footer-list-inner, .footer-list-inner-first {
    padding: 0 0 40px 0;
  }
  .inner-for-img {
    padding: 40px 0 20px 0;
  }
  .first-caption, .second-caption, .third-caption {
    display: inline-block;
  }
  .maps-inner-text {
    text-align: center;
  }
  .inner-for-img img {
    width:  280px !important;
  }
  .inner-for-img {
    text-align: center;
  }
  #contact .contact-form {
    padding: 20px 0 20px 0;
  }
  .contact-right {
    visibility: hidden;
    opacity: 0;
  }
  .bg-right-contact{
    max-height: 0px;
    max-width: 0px;
  }
  #address .address{
  	padding:30px;;
  }
  .video-inner {
    padding: 60px 0 40px 0;
  }
  .video-text-inner {
    padding: 0 0 60px 0;
  }
  .xs-a{
    width: 100%;
  }
  .xs-b{
    width: 100% !important;
    float: none;
  }
  .img-k-1{
    width: 100%;
  }
  .xs-b .img-ka{
    width: 100%;
    padding: 0;
  }
  .img-k-1,
  .img-t-1,
  .img-tt,
  .xs-b .img-ka{
    height: 300px;
    margin: 0;
    margin: 10px 0px;
  }
}

@media (max-width: 992px){
  .footer-list-inner, .footer-list-inner-first {
    padding: 0 0 40px 0;
  }
  .inner-for-img {
    padding: 40px 0 40px 0;
  }
  .inner-for-img img {
    width:  100%;
  }
  .maps-inner-text {
    margin: 40px 0 40px 0;
  }
  .first-caption, .second-caption, .third-caption {display: inline-block;}
  .first-caption p, .second-caption p, .third-caption p{padding-top: 0; margin-top: 0; padding-bottom: 0; margin-bottom: 0;}
  .maps-inner-text {
    text-align: center;
  }
}
